<ion-view title="Pickup" ng-cloak>
    <ion-content has-header="true" padding="false" scroll="false">
        <div class="div-wrapper">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" ng-cloak>
                <ui-gmap-marker idkey="0" coords="userLocation">
                </ui-gmap-marker>
            </ui-gmap-google-map>
            <button class="button button-float add-pickup">
                <i class="icon ion-plus"></i>
            </button>
        </div>

    </ion-content>
</ion-view>

<style>
    body {
        height: 100%;
    }

    .div-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
</style>