.add-pickup, .add-pickup:hover {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    color: white;
    background-color: red;
    box-shadow: 0 0 50px #888888;
}
